DATABASE_URL="postgres://postgres.ueszfkgcsrlepuqqfdjw:AGe4rQ%2FM%26%24Xa%23Ew@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres:AGe4rQ%2FM%26%24Xa%23Ew@db.ueszfkgcsrlepuqqfdjw.supabase.co:5432/postgres"
GEMINI_API_KEY="기존_Gemini_API_KEY"
PORT=3000
